In [5]:
import pandas as pd

In [10]:
lectures_data = pd.read_csv('/Users/GoncharovDS/MyPythonProjects/mephi/lectures.csv')
questions_data = pd.read_csv('/Users/GoncharovDS/MyPythonProjects/mephi/questions.csv')
train_data = pd.read_csv('/Users/GoncharovDS/MyPythonProjects/mephi/train.csv')

In [14]:
lectures_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lecture_id  418 non-null    int64
 1   tag         418 non-null    int64
 2   part        418 non-null    int64
 3   type_of     418 non-null    object
dtypes: int64(3), object(1)
memory usage: 13.2+ KB

In [16]:
questions_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13523 entries, 0 to 13522
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   question_id     13523 non-null  int64
 1   bundle_id       13523 non-null  int64
 2   correct_answer  13523 non-null  int64
 3   part            13523 non-null  int64
 4   tags            13522 non-null  object
dtypes: int64(4), object(1)
memory usage: 528.4+ KB

In [18]:
train_data.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101230332 entries, 0 to 101230331
Data columns (total 10 columns):
 #   Column                          Non-Null Count      Dtype
---  ------                          --------------      -----
 0   row_id                          101230332 non-null  int64
 1   timestamp                       101230332 non-null  int64
 2   user_id                         101230332 non-null  int64
 3   content_id                      101230332 non-null  int64
 4   content_type_id                 101230332 non-null  int64
 5   task_container_id               101230332 non-null  int64
 6   user_answer                     101230332 non-null  int64
 7   answered_correctly              101230332 non-null  int64
 8   prior_question_elapsed_time     98878794 non-null   float64
 9   prior_question_had_explanation  100837826 non-null  object
dtypes: float64(1), int64(8), object(1)
memory usage: 7.5+ GB

In [56]:
# находим пропуски с train_data
train_data.isnull().sum()

row_id                                  0
timestamp                               0
user_id                                 0
content_id                              0
content_type_id                         0
task_container_id                       0
user_answer                             0
answered_correctly                      0
prior_question_elapsed_time       2351538
prior_question_had_explanation     392506
dtype: int64

In [50]:
# используем shape для получения размерности дата фреймов
# количестве строк и столбцов
lectures_data.shape

(418, 4)

In [52]:
questions_data.shape

(13523, 5)

In [54]:
train_data.shape

(101230332, 10)

In [34]:
lectures_data.head()

   lecture_id  tag  part           type_of
0          89  159     5           concept
1         100   70     1           concept
2         185   45     6           concept
3         192   79     5  solving question
4         317  156     5  solving question

In [36]:
questions_data.head()

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38

In [38]:
train_data.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False

In [72]:
# describe() выдает экспоненциальное представление, что не очень информативно
# поменяем формат вывода данных
train_data.describe().apply(lambda s: s.apply('{0:.2f}'.format))

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time
count,101230332.00,101230332.00,101230332.00,101230332.00,101230332.00,101230332.00,101230332.00,101230332.00,98878794.00
mean,50615165.50,7703643654.33,1076732424.20,5219.60,0.02,904.06,1.38,0.63,25423.81
std,29222679.86,11592655308.51,619716349.50,3866.36,0.14,1358.30,1.19,0.52,19948.15
min,0.00,0.00,115.00,0.00,0.00,0.00,-1.00,-1.00,0.00
25%,25307582.75,524343559.00,540811564.00,2063.00,0.00,104.00,0.00,0.00,16000.00
50%,50615165.50,2674233764.50,1071781070.00,5026.00,0.00,382.00,1.00,1.00,21000.00
75%,75922748.25,9924550562.75,1615741676.00,7425.00,0.00,1094.00,3.00,1.00,29666.00
max,101230331.00,87425772049.00,2147482888.00,32736.00,1.00,9999.00,3.00,1.00,300000.00

In [64]:
correct_answers = train_data['answered_correctly'].mean()
print(f'Answered correctly: {correct_answers * 100:.1f}%')

Answered correctly: 62.5%

In [76]:
# Средннее время, затраченное на ответ
time_answers = train_data['prior_question_elapsed_time'].mean()
print(f'Среднее время затраченное на ответ: {time_answers / 1000 :.2f} секунд')

Среднее время затраченное на ответ: 25.42 секунд

In [78]:
# Влияние объяснений на правильность ответа
explanation_correct = train_data.groupby('prior_question_elapsed_time')['answered_correctly'].mean()
print(explanation_correct)
# В среднем продолжительность объяснений немного увеличевает процент правильных ответов

prior_question_elapsed_time
0.0         0.618971
200.0       0.715847
250.0       0.553957
333.0       0.698964
400.0       0.663158
              ...
299600.0    0.333333
299666.0    1.000000
299750.0    0.538462
299800.0    0.615385
300000.0    0.619951
Name: answered_correctly, Length: 3258, dtype: float64

In [84]:
# Объединение данных для анализа вопросов
merged_df = pd.merge(train_data[train_data['content_type_id'] == 0], questions_data, left_on='content_id', right_on='question_id')
merged_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99271300 entries, 0 to 99271299
Data columns (total 15 columns):
 #   Column                          Non-Null Count     Dtype
---  ------                          --------------     -----
 0   row_id                          99271300 non-null  int64
 1   timestamp                       99271300 non-null  int64
 2   user_id                         99271300 non-null  int64
 3   content_id                      99271300 non-null  int64
 4   content_type_id                 99271300 non-null  int64
 5   task_container_id               99271300 non-null  int64
 6   user_answer                     99271300 non-null  int64
 7   answered_correctly              99271300 non-null  int64
 8   prior_question_elapsed_time     98878794 non-null  float64
 9   prior_question_had_explanation  98878794 non-null  object
 10  question_id                     99271300 non-null  int64
 11  bundle_id                       99271300 non-null  int64
 12  correct_answer                  99271300 non-null  int64
 13  part                            99271300 non-null  int64
 14  tags                            99271299 non-null  object
dtypes: float64(1), int64(12), object(2)
memory usage: 11.1+ GB

In [86]:
merged_df.head(10)

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,question_id,bundle_id,correct_answer,part,tags
0,0,0,115,5692,0,1,3,1,NaN,NaN,5692,5692,3,5,151
1,1,56943,115,5716,0,2,2,1,37000.0,False,5716,5716,2,5,168
2,2,118363,115,128,0,0,0,1,55000.0,False,128,128,0,1,131 149 92
3,3,131167,115,7860,0,3,0,1,19000.0,False,7860,7860,0,1,131 104 81
4,4,137965,115,7922,0,4,1,1,11000.0,False,7922,7922,1,1,131 149 92
5,5,157063,115,156,0,5,2,1,5000.0,False,156,156,2,1,131 101 162 38
6,6,176092,115,51,0,6,0,1,17000.0,False,51,51,0,1,131 187 81
7,7,194190,115,50,0,7,3,1,17000.0,False,50,50,3,1,131 101 38
8,8,212463,115,7896,0,8,2,1,16000.0,False,7896,7896,2,1,131 104 162 81
9,9,230983,115,7863,0,9,0,1,16000.0,False,7863,7863,0,1,131 68 92

In [88]:
# Анализ по тегам.
tag_correctness = merged_df.groupby('tags')['prior_question_elapsed_time'].mean()
print(tag_correctness)

tags
1                       26763.996359
1 162                   33000.395965
10 111 92               22855.656650
10 164 102              22658.093688
10 164 162 29           22530.558765
                            ...
98 97 21                47655.376665
98 97 35 117 122 162    49309.121525
98 97 35 146 122        50064.807589
98 97 46 135            50214.114445
98 97 77 135 162        49710.686297
Name: prior_question_elapsed_time, Length: 1519, dtype: float64

In [90]:
# Анализ по Part
part_correctness = merged_df.groupby('part')['prior_question_elapsed_time'].mean()
print(part_correctness)

part
1    22671.486070
2    18715.771424
3    23619.335747
4    23758.835498
5    25233.249525
6    32413.610744
7    47447.495993
Name: prior_question_elapsed_time, dtype: float64

In [92]:
#Анализ затраченного времени на количество правильных ответов
tag_correctness = merged_df.groupby('correct_answer')['answered_correctly'].mean()
print(tag_correctness)

correct_answer
0    0.667421
1    0.672807
2    0.619220
3    0.659225
Name: answered_correctly, dtype: float64

In [94]:
tag_correctness = merged_df.groupby('correct_answer')['prior_question_had_explanation'].mean()
print(tag_correctness)

correct_answer
0    0.915643
1    0.930987
2    0.861188
3    0.908216
Name: prior_question_had_explanation, dtype: object

In [96]:
# Посчитаем процент успешных ответов в объединенной таблице
all_question = merged_df['answered_correctly'].shape[0]
true_question  = merged_df[merged_df['answered_correctly'] == 1].shape[0]
print(f'Процент успешных ответов {(true_question *100)/all_question:.2f} %')

Процент успешных ответов 65.72 %

In [98]:
# Проанализируем влияние наличие объяснения ответа на правильность.
# Наличие объяснения влияет на успех
explanation_correct =  merged_df.groupby('prior_question_had_explanation')['answered_correctly'].mean()
print(explanation_correct)

prior_question_had_explanation
False    0.500629
True     0.673189
Name: answered_correctly, dtype: float64

In [100]:
# Анализ по количеству пакетов с вопросами на успеваемость
tag_correctness = merged_df.groupby('task_container_id')['answered_correctly'].mean()
print(tag_correctness)

task_container_id
0       0.680027
1       0.527191
2       0.435713
3       0.543192
4       0.476968
          ...
9995    0.763158
9996    0.769231
9997    0.756757
9998    0.786885
9999    0.738372
Name: answered_correctly, Length: 10000, dtype: float64